<div class="MainContainer">
  <div class="SuccessHeader2">
    <div class="OfficialLogo">
      <img src="../../../assets/images/Logo.jpeg" class="Logo" alt="" />
    </div>
    <div class="BackButton" [routerLink]="['/home']">
      <img src="https://img.icons8.com/ios/50/000000/circled-left-2.png" />
    </div>
  </div>
  <div class="LeftContainer">
    <div class="OrderSummaryOuterContainer">
      <div class="OrderSummaryContainer">
        <div class="OSCBox1">
          <img
            src="../../assets/images/food-1.jpg"
            alt=""
            style="width: 100%"
          />
        </div>
        <div class="OSCBox2">
          <div class="ProductDescription">
            <div>x1</div>
            <div class="PDText">Lorem Ipsum dolor sit amt</div>
          </div>
          <div class="Counter">
            <button class="CounterButton">-</button>
            <button class="CounterText">01</button>
            <button class="CounterButton">+</button>
          </div>
        </div>
        <div class="OSCBox3">
          <h1 class="ProductPrice">$ 110</h1>
        </div>
      </div>
      <hr />
      <div class="OrderSummaryContainer">
        <div class="OSCBox1">
          <img
            src="../../assets/images/food-1.jpg"
            alt=""
            style="width: 100%"
          />
        </div>
        <div class="OSCBox2">
          <div class="ProductDescription">
            <div>x1</div>
            <div class="PDText">Lorem Ipsum dolor sit amt</div>
          </div>
          <div class="Counter">
            <button class="CounterButton">-</button>
            <button class="CounterText">01</button>
            <button class="CounterButton">+</button>
          </div>
        </div>
        <div class="OSCBox3">
          <h1 class="ProductPrice">$ 110</h1>
        </div>
      </div>
      <hr />
      <div class="OrderSummaryContainer">
        <div class="OSCBox1">
          <img
            src="../../assets/images/food-1.jpg"
            alt=""
            style="width: 100%"
          />
        </div>
        <div class="OSCBox2">
          <div class="ProductDescription">
            <div>x1</div>
            <div class="PDText">Lorem Ipsum dolor sit amt</div>
          </div>
          <div class="Counter">
            <button class="CounterButton">-</button>
            <button class="CounterText">01</button>
            <button class="CounterButton">+</button>
          </div>
        </div>
        <div class="OSCBox3">
          <h1 class="ProductPrice">$ 110</h1>
        </div>
      </div>
    </div>

    <div class="ChargesSummaryOuterContainer">
      <div class="ChargesSummaryContainer">
        <div class="ChargesContainer">
          <div class="ChargesText">Sub Total</div>
          <div class="ChargesAmount">$ 110.00</div>
        </div>
        <div class="ChargesContainer">
          <div class="ChargesText">Service Charges</div>
          <div class="ChargesAmount">$ 0.0</div>
        </div>
        <div class="ChargesContainer">
          <div class="ChargesText">Delivery Fee</div>
          <div class="ChargesAmount">$ 2.50</div>
        </div>
        <div class="ChargesContainer">
          <div class="ChargesText">Tax</div>
          <div class="ChargesAmount">$ 0.0</div>
        </div>
        <img
          src="../../assets/images/header.png"
          alt=""
          style="margin-top: 10px; margin-bottom: 10px"
        />
        <div class="ChargesContainer">
          <div class="ChargesTextTotal">Grand Total (TWD)</div>
          <div class="ChargesAmountTotal">$ 112.50</div>
        </div>
      </div>
    </div>
  </div>
  <div class="RightContainer">
    <div class="OrderInformationOuterContainer">
      <h1 class="title">Order Information</h1>
      <div class="OrderInformationContainer CheckboxContainer">
        <div class="OrderInformationCheckbox">
          <input
            type="radio"
            name="Delivery"
            id=""
            class="Checkbox"
            style="display: inline"
          />
          <img
            src="https://img.icons8.com/material-outlined/24/000000/box--v1.png"
            style="vertical-align: middle; margin-left: 15px"
          />
          Pickup
        </div>
        <div class="OrderInformationCheckbox">
          <input
            type="radio"
            name="Delivery"
            id=""
            class="Checkbox"
            style="display: inline"
          />
          <img
            src="https://img.icons8.com/material-rounded/24/000000/motorcycle-delivery-single-box.png"
            style="vertical-align: middle; margin-left: 15px"
          />
          Delivery
        </div>
      </div>

      <div class="OrderInformationContainer">
        <div class="OrderInformationText">Date:</div>
        <div class="OrderInformationAmount CheckboxAmount">dd/mm/yyyy</div>
      </div>

      <div class="OrderInformationContainer">
        <div class="OrderInformationText">Time</div>
        <div class="OrderInformationAmount CheckboxAmount">00 :00 PM</div>
      </div>
    </div>

    <br />
    <br />

    <div class="ClientInformationOuterContainer">
      <h1 class="title">Client Information</h1>
      <div class="OrderInformationContainer CheckboxContainer">
        <div class="ClientInformationCheckbox">
          <input
            type="radio"
            name="MrMsMrs"
            id=""
            class="Checkbox"
            style="display: inline"
          />
          Mr.
        </div>

        <div class="ClientInformationCheckbox">
          <input
            type="radio"
            name="MrMsMrs"
            id=""
            class="Checkbox"
            style="display: inline"
          />
          Mrs.
        </div>

        <div class="ClientInformationCheckbox">
          <input
            type="radio"
            name="MrMsMrs"
            id=""
            class="Checkbox"
            style="display: inline"
          />
          Ms.
        </div>
      </div>

      <div class="ClientInformationContainer">
        <div class="ClientInformationLabel">Name of Receiver *</div>
        <div class="ClientInformationInputContainer">
          <input
            type="text"
            name=""
            id=""
            class="ClientInformationInput"
            placeholder="Your Name !"
          />
        </div>
      </div>

      <div class="ClientInformationContainer">
        <div class="ClientInformationLabel">Phone Number *</div>
        <div class="ClientInformationInputContainer">
          <input type="text" name="" id="" class="ClientInformationInput" />
        </div>
      </div>

      <div class="ClientInformationContainer">
        <div class="ClientInformationLabel">Email *</div>
        <div class="ClientInformationInputContainer">
          <input
            type="text"
            name=""
            id=""
            class="ClientInformationInput"
            placeholder="Your Email !"
          />
        </div>
      </div>

      <div class="OrderInformationContainer CheckboxContainer">
        <div class="ClientInformationCheckbox2">
          <input
            type="radio"
            name=""
            id=""
            class="Checkbox"
            style="display: inline"
          />
          Save Your Contact Information
        </div>
        <div class="ContactInformationBox">
          <p class="InformationBox">
            ( Your Contact Information Will Be Saved For Future Booking, Please
            Donot Check This If You are Using a Public Computer )
          </p>
        </div>
      </div>
      <div class="ClientInformationContainer">
        <div class="ClientInformationLabel">Note :</div>
        <div class="ClientInformationInputContainer">
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            class="ClientInformationTextarea"
            placeholder="Any Additional Requirement to the Order !"
          ></textarea>
        </div>
      </div>
    </div>

    <br />
    <br />
    <div class="DeliveryInformationOuterContainer">
      <h1 class="title">Delivery Information</h1>
      <div class="DeliveryInformationContainer">
        <div class="DeliveryInformationLabel">Name of Receiver *</div>
        <div class="DeliveryInformationInputContainer">
          <input
            type="text"
            name=""
            id=""
            class="DeliveryInformationInput"
            placeholder="Your Name !"
          />
        </div>
      </div>

      <div class="DeliveryInformationContainer">
        <div class="DeliveryInformationLabel">Phone Number *</div>
        <div class="DeliveryInformationInputContainer">
          <input type="text" name="" id="" class="DeliveryInformationInput" />
        </div>
      </div>
      <div class="DeliveryInformationContainer">
        <div class="DeliveryInformationLabel">Email *</div>
        <div class="DeliveryInformationInputContainer">
          <input
            type="text"
            name=""
            id=""
            class="DeliveryInformationInput"
            placeholder="Your Email !"
          />
        </div>
      </div>
      <div class="DeliveryInformationContainer">
        <div class="DeliveryInformationLabel">Address *</div>
        <div class="DeliveryInformationInputContainer">
          <input
            type="text"
            name=""
            id=""
            class="DeliveryInformationInput"
            placeholder="Your Address"
          />
        </div>
      </div>
    </div>
    <br />
    <br />

    <div class="DeliveryInformationOuterContainer">
      <h1 class="title">Payment Information</h1>
      <div class="OrderInformationContainer CheckboxContainer3">
        <div class="PaymentInformationCheckbox">
          <input
            type="radio"
            name="Payment"
            id=""
            class="Checkbox"
            style="display: inline"
          />
          <img
            src="https://img.icons8.com/material-outlined/24/000000/cash-.png"
          />
          Cash Payment
        </div>
        <br />
        <div class="PaymentInformationCheckbox">
          <input
            type="radio"
            name="Payment"
            id=""
            class="Checkbox"
            style="display: inline"
          />
          <img
            src="https://img.icons8.com/external-those-icons-lineal-those-icons/24/000000/external-credit-card-business-those-icons-lineal-those-icons-1.png"
          />
          Credit Card
          <span style="height: 15px; margin-left: 50px; vertical-align: middle">
            <img
              src="https://img.icons8.com/color-glass/96/000000/paypal.png"
              style="height: 45px"
            />
            <img
              src="https://img.icons8.com/color/96/000000/visa.png"
              style="height: 45px"
            />
            <img
              src="https://img.icons8.com/color/96/000000/mastercard.png"
              style="height: 45px"
            />
            <img
              src="https://img.icons8.com/color/96/000000/amex.png"
              style="height: 45px"
            />
          </span>
        </div>
      </div>
      <div class="ContactInformationBox">
        <p class="InformationBox">
          ( Your Contact Information Will Be Saved For Future Booking, Please
          Donot Check This If You are Using a Public Computer )
        </p>
      </div>
    </div>
  </div>

  <div
    style="
      margin: auto;
      width: 50%;
      height: 100px;
      display: flex;
      flex-wrap: wrap;
    "
  >
    <div class="ContinueShoppingContainer">
      <input
        type="submit"
        name="Cancel"
        class="ContinueShopping Cancel"
        value="Cancel"
      />
      <input
        type="submit"
        name="Confirm"
        class="ContinueShopping"
        value="Confirm"
        style="float: right"
        (click)="orderComplete()"
      />
    </div>
  </div>
</div>
