<div class="center">
  <div class="ProductImageandTexts">
    <div class="ProductImageContainer">
      <div class="ImageContainer">
        <img src="../../../assets/images/food-1.jpg" alt="" class="Image" />
      </div>
      <div>
        <div class="ThumbnailContainer">
          <img
            src="../../../assets/images/food-1.jpg"
            alt=""
            class="ImageThumbnail"
          />
          <img
            src="../../../assets/images/food-1.jpg"
            alt=""
            class="ImageThumbnail"
          />
          <img
            src="../../../assets/images/food-1.jpg"
            alt=""
            class="ImageThumbnail"
          />
        </div>
      </div>
    </div>
    <div class="ProductTextContainer">
      <h1 class="ProductHeading">Lorem ipsum dolor sit ipsum</h1>
      <p class="DiscountText">
        <s> $125.34 </s>
        <br />
        Discount
      </p>
      <h1 class="PriceText"><b>$ 110</b></h1>
      <h2 class="StockText">In Stock</h2>
      <h3 class="DetailText">
        Lorem Ipsum dolor sit amt, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat.
      </h3>
      <h3 class="ShareText">Share Us On</h3>
      <span>
        <img
          src="https://img.icons8.com/material-outlined/48/000000/facebook.png"
          class="SocialIcon"
        />
        <img
          src="https://img.icons8.com/material-outlined/48/000000/instagram-new--v1.png"
          class="SocialIcon"
        />
        <img
          src="https://img.icons8.com/material-outlined/48/000000/twitter.png"
          class="SocialIcon"
        />
        <img
          src="https://img.icons8.com/material-outlined/48/000000/linkedin--v1.png"
          class="SocialIcon"
        />
        <img
          src="https://img.icons8.com/material-outlined/48/000000/google-plus.png"
          class="SocialIcon"
        />
      </span>
      <div></div>
    </div>
  </div>
  <div class="ListContainer Extra">
    <h3 class="ShareText">Product Features</h3>
    <ul>
      <li class="ListText">Lorem Ipsum dolor sit</li>
      <li class="ListText">
        Lorem Ipsum dolor sit amt, consectetuer adipiscing
      </li>
      <li class="ListText">Lorem Ipsum dolor</li>
    </ul>
  </div>
  <div class="ListContainer">
    <h3 class="ShareText">Special Instruction</h3>
    <textarea
      name=""
      id=""
      style="width: 100%; height: 150px"
      class="SpecialInstructionInput"
      placeholder="Please Write Here If You Have Any Special Instruction"
    ></textarea>
  </div>
  <div class="LastContainer">
    <div class="Counter">
      <button class="CounterButton">-</button>
      <button class="CounterText">01</button>
      <button class="CounterButton">+</button>
    </div>
    <div class="Price">
      <h1 class="PriceText2"><b>$ 110</b></h1>
    </div>
    <div class="Button">
      <button class="AddToCart">Add To Cart</button>
    </div>
  </div>
</div>
