<div class="SuccessMainBody">
  <div class="SuccessHeader">
    <div></div>
    <div class="HeaderContainer2">
      <div class="HeaderContainer2Title">
        <h1 class="HeaderTitle">Order Completed !</h1>
        <p class="HeaderTagLine">Thanks For Choosing Us</p>
      </div>
    </div>
  </div>
  <div class="SuccessFormContainer">
    <form style="width: 100%">
      <h3 class="FormSubHeading">Order Summary</h3>
      <div class="OrderSummaryOuterContainer">
        <div class="OrderSummaryContainer">
          <div class="OSCBox1">
            <img
              src="../../assets/images/food-1.jpg"
              alt=""
              style="width: 100%"
            />
          </div>
          <div class="OSCBox2">
            <div class="ProductDescription">
              <div>x1</div>
              <div class="PDText">Lorem Ipsum dolor sit amt</div>
            </div>
          </div>
          <div class="OSCBox3">
            <h1 class="ProductPrice">$ 110</h1>
          </div>
        </div>
        <hr />
        <div class="OrderSummaryContainer">
          <div class="OSCBox1">
            <img
              src="../../assets/images/food-1.jpg"
              alt=""
              style="width: 100%"
            />
          </div>
          <div class="OSCBox2">
            <div class="ProductDescription">
              <div>x1</div>
              <div class="PDText">Lorem Ipsum dolor sit amt</div>
            </div>
          </div>
          <div class="OSCBox3">
            <h1 class="ProductPrice">$ 110</h1>
          </div>
        </div>
        <hr />
        <div class="OrderSummaryContainer">
          <div class="OSCBox1">
            <img
              src="../../assets/images/food-1.jpg"
              alt=""
              style="width: 100%"
            />
          </div>
          <div class="OSCBox2">
            <div class="ProductDescription">
              <div>x1</div>
              <div class="PDText">Lorem Ipsum dolor sit amt</div>
            </div>
          </div>
          <div class="OSCBox3">
            <h1 class="ProductPrice">$ 110</h1>
          </div>
        </div>
      </div>

      <div class="ChargesSummaryOuterContainer">
        <div class="ChargesSummaryContainer">
          <div class="ChargesContainer">
            <div class="ChargesText">Sub Total</div>
            <div class="ChargesAmount">$ 110.00</div>
          </div>
          <div class="ChargesContainer">
            <div class="ChargesText">Service Charges</div>
            <div class="ChargesAmount">$ 0.0</div>
          </div>
          <div class="ChargesContainer">
            <div class="ChargesText">Delivery Fee</div>
            <div class="ChargesAmount">$ 2.50</div>
          </div>
          <div class="ChargesContainer">
            <div class="ChargesText">Tax</div>
            <div class="ChargesAmount">$ 0.0</div>
          </div>
          <hr />
          <div class="ChargesContainer">
            <div class="ChargesTextTotal">Grand Total (TWD)</div>
            <div class="ChargesAmountTotal">$ 112.50</div>
          </div>
        </div>
      </div>

      <h3 class="FormSubHeadingOS">Order Information</h3>

      <div class="OrderInformationOuterContainer">
        <div class="OrderInformationContainer CheckboxContainer">
          <div class="OrderInformationCheckbox">
            <input
              type="radio"
              name=""
              id=""
              class="Checkbox"
              style="display: inline"
            />
            <img
              src="https://img.icons8.com/material-outlined/24/000000/box--v1.png"
              style="vertical-align: middle; margin-left: 15px"
            />
            Pickup
          </div>
          <div class="OrderInformationCheckbox">
            <input
              type="radio"
              name=""
              id=""
              class="Checkbox"
              style="display: inline"
            />
            <img
              src="https://img.icons8.com/material-rounded/24/000000/motorcycle-delivery-single-box.png"
              style="vertical-align: middle; margin-left: 15px"
            />
            Delivery
          </div>
        </div>

        <div class="OrderInformationContainer">
          <div class="OrderInformationText">Date:</div>
          <div class="OrderInformationAmount CheckboxAmount">dd/mm/yyyy</div>
        </div>

        <div class="OrderInformationContainer">
          <div class="OrderInformationText">Time</div>
          <div class="OrderInformationAmount CheckboxAmount">00 :00 PM</div>
        </div>
      </div>

      <h3 class="FormSubHeadingOS">Delivery Information</h3>

      <div class="DeliveryInformationOuterContainer">
        <div class="DeliveryInformationContainer">
          <div class="DeliveryInformationLabel">Name of Receiver *</div>
          <div class="DeliveryInformationInputContainer">
            <input
              type="text"
              name=""
              id=""
              class="DeliveryInformationInput"
              placeholder="Your Name !"
            />
          </div>
        </div>

        <div class="DeliveryInformationContainer">
          <div class="DeliveryInformationLabel">Phone Number *</div>
          <div class="DeliveryInformationInputContainer">
            <input type="text" name="" id="" class="DeliveryInformationInput" />
          </div>
        </div>
        <div class="DeliveryInformationContainer">
          <div class="DeliveryInformationLabel">Email *</div>
          <div class="DeliveryInformationInputContainer">
            <input
              type="text"
              name=""
              id=""
              class="DeliveryInformationInput"
              placeholder="Your Email !"
            />
          </div>
        </div>
        <div class="DeliveryInformationContainer">
          <div class="DeliveryInformationLabel">Address *</div>
          <div class="DeliveryInformationInputContainer">
            <input
              type="text"
              name=""
              id=""
              class="DeliveryInformationInput"
              placeholder="Your Address"
            />
          </div>
        </div>
      </div>
      <div class="ContinueShoppingContainer">
        <input
          type="submit"
          name="Continue Shopping"
          id=""
          class="ContinueShopping"
          value="Continue Shopping"
        />
      </div>
    </form>
  </div>
</div>
