<div class="FooterContainer">
  <div class="LogoContainer">
    <div class="margin:auto;">
      <img src="../../../assets/images/Logo.jpeg" class="FooterLogo" alt="" />
    </div>
  </div>
  <div class="FooterMain">
    <div class="Box">
      <br />
      <ul class="LeftList">
        <li>Your Address City</li>
        <li>Info@youremail.com</li>
        <li>265 288 8278</li>
      </ul>
    </div>
    <div class="Box">
      <br />
      <p>Follow Us On</p>
      <br />
      <span>
        <img
          src="https://img.icons8.com/material-outlined/48/000000/facebook.png"
          class="SocialIcon"
        />
        <img
          src="https://img.icons8.com/material-outlined/48/000000/instagram-new--v1.png"
          class="SocialIcon"
        />
        <img
          src="https://img.icons8.com/material-outlined/48/000000/twitter.png"
          class="SocialIcon"
        />
        <img
          src="https://img.icons8.com/material-outlined/48/000000/linkedin--v1.png"
          class="SocialIcon"
        />
        <img
          src="https://img.icons8.com/material-outlined/48/000000/google-plus.png"
          class="SocialIcon"
        />
      </span>
    </div>
    <div class="Box">
      <br />
      <p>Online Payments</p>
      <br />
      <span style="height: 50px">
        <img
          src="https://img.icons8.com/color-glass/96/000000/paypal.png"
          style="height: 70px"
        />
        <img
          src="https://img.icons8.com/color/96/000000/visa.png"
          style="height: 70px"
        />
        <img
          src="https://img.icons8.com/color/96/000000/mastercard.png"
          style="height: 70px"
        />
        <img
          src="https://img.icons8.com/color/96/000000/amex.png"
          style="height: 70px"
        />
      </span>
    </div>
    <div class="Box">
      <br />
      <ul style="text-align: right" dir="rtl" class="RightList">
        <li>About</li>
        <li>Menu</li>
        <li>Brand Name</li>
        <li>Review</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
  <div class="BottomContainer">Copywrite @ 2021 Yummy Goose products</div>
</div>
